.navibar
  = link_to root_path do
    %h1 TODAY
  = link_to new_picture_path do
    %i.fas.fa-camera
  = link_to user_path(current_user) do
    %i.fas.fa-user
  = link_to destroy_user_session_path, method: :delete do
    %i.fas.fa-sign-in-alt
